<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
  <ion-item-sliding>
  <ion-list lines="full"> <!--atributo para que a linha ocupe toda a base do componente-->
    <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/SMFarFromHome.jpg">
    </ion-thumbnail>

    <ion-label class="ion-text-wrap"> <!-- classe para quebra de linha-->
      <div>
        <h1>Homem-Aranha: Longe de Casa</h1>
        <p>04/07/2019 (BR) - 2h 10m</p>
        <p>Ação, Aventura, Fantasia<p>
      </div>
    </ion-label>

    <ion-chip color="success" outline>
      <ion-label>75%</ion-label>
    </ion-chip>
    </ion-item>

      <ion-item-options (click)="exibirAlertaFavorito()" side="end">
      <ion-item-option color= "medium">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-list>

  <ion-list lines="full">
    <ion-item>
    <ion-thumbnail slot="start">
    <img  src ="../assets/KNYMugenTrain.jpg">
    </ion-thumbnail>

    <ion-label class="ion-text-wrap">
      <div>
      <h1>Demon Slayer - Mugen Train: O Filme</h1>
      <p>23/04/2020(US)-1h57m</p>
      <p>Animação, Ação, Aventura, Fantasia<p>
      </div>
    </ion-label>

    <ion-chip color="success" outline>
    <ion-label>84%</ion-label>
    </ion-chip>
    </ion-item>

        <ion-item-options (click)="exibirAlertaFavorito()" side = "end">
          <ion-item-option color = "laranja">
            <ion-icon slot="icon-only" name="star">
          </ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-list>

    <ion-list lines="full">
      <ion-item>
      <ion-thumbnail slot="start">
      <img  src ="../assets/IronHearts.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
        <h1>Corações de Ferro</h1>
        <p>05/02/2015 (BR)- 2h15m</p>
        <p>Guerra, Drama, Ação<p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
      <ion-label>75%</ion-label>
      </ion-chip>
      </ion-item>

          <ion-item-options (click)="exibirAlertaFavorito()" side = "end">
            <ion-item-option color = "laranja">
              <ion-icon slot="icon-only" name="star">
            </ion-icon>
        </ion-item-option>
      </ion-item-options>

