<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{  titulo }}  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
  <ion-item-sliding *ngFor="let filme of listaFilmes">
  <ion-list lines="full"> <!--atributo para que a linha ocupe toda a base do componente-->
    <ion-item>
    <ion-thumbnail slot="start">
      <img [src]="filme.cartaz">
    </ion-thumbnail>

    <ion-label class="ion-text-wrap">
      <div>
        <h1>{{  filme.nome }}</h1>
        <p>{{filme.lancamento}} - {{filme.duracao}}</p>
        <ion-badge color="light" *ngFor="let genero of filme.generos">
          {{genero}}
        </ion-badge>
      </div>
    </ion-label>

    <ion-chip color="success" outline>
      <ion-label>{{filme.classificacao}}%</ion-label>
    </ion-chip>
    </ion-item>

      <ion-item-options (click)="exibirAlertaFavorito()" side="end">
      <ion-item-option color= "medium">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-list>
  </ion-item-sliding>

  <ion-item-sliding *ngFor="let filme of listaFilmes">
  <ion-list lines="full">
    <ion-item>
    <ion-thumbnail slot="start">
      <img [src]="filme.cartaz">
    </ion-thumbnail>

    <ion-label class="ion-text-wrap">
      <div>
        <h1>{{  filme.nome }}</h1>
        <p>{{filme.lancamento}} - {{filme.duracao}}</p>
        <ion-badge color="light" *ngFor="let genero of filme.generos">
          {{genero}}
        </ion-badge>
      </div>
    </ion-label>

    <ion-chip color="success" outline>
    <ion-label>{{filme.classificacao}}%</ion-label>
    </ion-chip>
    </ion-item>

        <ion-item-options (click)="exibirAlertaFavorito()" side = "end">
          <ion-item-option color = "danger">
            <ion-icon slot="icon-only" name="star">
          </ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-list>
    </ion-item-sliding>

    <ion-item-sliding *ngFor="let filme of listaFilmes">
    <ion-list lines="full">
      <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="filme.cartaz">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <h1>{{  filme.nome }}</h1>
          <p>{{filme.lancamento}} - {{filme.duracao}}</p>
          <ion-badge color="light" *ngFor="let genero of filme.generos">
            {{genero}}
          </ion-badge>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
      <ion-label>{{filme.classificacao}}%</ion-label>
      </ion-chip>
      </ion-item>

          <ion-item-options (click)="exibirAlertaFavorito()" side = "end">
            <ion-item-option color = "primary">
              <ion-icon slot="icon-only" name="star">
            </ion-icon>
        </ion-item-option>
      </ion-item-options>
      </ion-list>
    </ion-item-sliding>
